<mat-toolbar></mat-toolbar>

<div class="componente-container">
    <form class="form-padrao" *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && salvar()"
    novalidade>
        <mat-form-field>
          <input matInput placeholder="Titulo" formControlName="titulo" required autocomplete="off">
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descricao" formControlName="descricao" required autocomplete="off">
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>

        <div class = "linha-botoes">
            <button mat-raised-button color = "primary" [disabled]="!formGroup.valid">Salvar</button>
            <button *ngIf="tarefa && tarefa.id" type="button" mat-raised-button color = "warn" (click)="deletar()">Deletar</button>
            <button type="button" mat-raised-button color = "primary" routerLink="/status">Cancelar</button>
        </div>
    </form>
</div>
